.svg1 {
	display: block;
	width: 100%;
	height: 300px;
	background: #f7f7f7;
	overflow: visible;
}

.svg1 rect.selection {
	stroke: none;
}

.svgDiv {
	max-width: 100vw;
	display: flex;
	padding-left: 2rem;
	text-align: center;
}
